
:root {
  --primary-color: #ff61d8;
  --secondary-color: #5b8def;
  --accent-color: #ffd166;
  --success-color: #06d6a0;
  --warning-color: #ff9f1c;
  --danger-color: #ef476f;
  --background-color: #fff0f9;
  --foreground-color: #2d1832;
  --white: #ffffff;
  --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  --border-radius: 16px;
  --transition: all 0.3s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}



body {
  /* background: linear-gradient(to bottom, #f8f9fa, var(--background-color)); */
  color: var(--foreground-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(to right, #f3e5f5, #caecfb);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
}

@media (min-width: 768px) {
  .main-content {
    padding: 40px;
  }
}