.dashboard-actions {
  text-align: center;
  margin-top: 50px;
  direction: rtl;
}

.action-button {
  background-color: #f50380;
  border: none;
  color: white;
  margin: 10px;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.action-button:hover {
  background-color: #c80066;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
